{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Test algo</h1>
    <div class="container">

        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">
                    {{form_row(form.first_character)}}
                </div>
                <div class="col-md-4">
                    {{form_row(form.friendship_type)}}
                </div>
                <div class="col-md-4">
                    {{form_row(form.second_character)}}
                </div>
            </div>
        {{ form_end(form)}}
    
    </div>
{% endblock %}